@keyframes bg-color {
  0% {
    background: magenta;
  }
  33% {
    background: cyan;
  }
  66% {
    background: green;
  }
  100% {
    background: magenta;
  }
}

body, html {
  margin: 0;
}

header{
  background: url("C:/Users/Conner/Desktop/Web_Bootcamp/Labs/portfolio_page/img/1526.jpg") fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  background-size: (100% 150%);
  color: Black;
  position: relative;


}

.menu{
	height:5vh;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:10vh;
	flex-direction: row;
	animation: bg-color 5s infinite;
    border-bottom:  solid 0.5px;
  border-top: solid 0.5px;
    .menuItem{
      height:2.5vh;
      justify-content: space-around;
    }
}

